

.container
{
  text-align: center;
  padding: 40px;
  height: 100vh;
  background-color: aqua;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttons
{
  margin: 20px;
}

.btn{
  padding: 10px 20px;
  margin: 8px;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.happy{
  background-color: goldenrod;
}

.sad{
  background-color: green;
}

.excited{
  background-color: darkmagenta;
}

.angry{
  background-color: red;
}

.box{
  margin-top: 30px;
  font-size: 24px;
}